<div class="container">
    <div class="row">
        <div class="col-md-8 offset-sm-2">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Deliveries</th>
                        <td>6</td>
                    </tr>
                    <tr>
                        <th>Earnings</th>
                        <td>10€</td>
                    </tr>
                    <tr>
                        <th>Traveled Distance</th>
                        <td>23km</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
