<div class="container">
    <div class="row" *ngFor="let delivery of deliveries">
        <div class="col-md-8 offset-sm-2" *ngIf="delivery.delivery_status == 'Waiting for rider'">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" (click)="navigateToDetails(delivery.id)">
                <div class="card-body">
                    <strong>{{delivery.order_time}}</strong>
                    <table class="table table-borderless" aria-describedby="Delivery">
                        <tbody>
                            <tr>
                                <th>From</th>
                                <td>{{delivery.store_address}}</td>
                            </tr>
                            <tr>
                                <th>To</th>
                                <td>{{delivery.user_address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
