<div class="container">
    <div class="row">
        <div class="col-md-8 offset-sm-2">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Number of Deliveries</th>
                        <td>62</td>
                    </tr>
                    <tr>
                        <th>Number of Delivery Delays</th>
                        <td>11</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
